// Define new variables.
.close,
.ui-dialog-titlebar-close {
content: "&times;";
}
//Лектор
@media (min-width: 768px) {
	.node--type-lecturer {
		.node__content {
			display: flex;
	.field--name-body {
		width: 75%;
		}
	}
	}
}

.field--name-field-image-lecturer img {
	border-radius: 50%;
	padding: 2rem;
}

//Брендинг
.navbar-brand .site-title {
    font-size: 1.25rem !important;
}

.site-title small {
	letter-spacing: 2.75px;
}

.navbar-dark .navbar-brand img {
	filter: none !important;
}

//Изображения (временно)
.field--type-image img {
	max-width: 100%;
    margin: 0 auto;
    height: auto;
}

//Кнопка быстрого редактирования во вьюз
.contextual-region.view .contextual:first-child {
	right: 20px;
}
//Дропдаун меню (временно)
.navbar-dark .navbar-nav .show .nav-link {
	color: inherit;
}
//Заголовки в тизерах
.views-view-grid h2 {
	font-size: 1.5rem;
}
//Слайдер
.slide-item {
  height: 200px;
  padding-bottom: 50px;
  padding-top: 50px;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0.8);
	@media (min-width: 768px) {
    padding-bottom: 100px;
    padding-top: 100px;
    height: 400px;
  }
}

.slide-1 {
	background-image: url("/sites/default/files/field/image/slide/slide-1.jpg");
	background-size: cover;
}
.slide-2 {
	background-image: url("/sites/default/files/field/image/slide/slide-2.jpg");
	background-size: cover;
}
.slide-3 {
	background-image: url("/sites/default/files/field/image/slide/slide-3.jpg");
	background-size: cover;
}

//Футер
@media (min-width: 768px) {
.region.region-footer {
    flex-direction: row;
    justify-content: space-between;
	}
}

footer.footer-dark a {
	color: rgba(255, 255, 255, 0.6) !important;
	&:hover {
		color: #f8f9fa !important;
	}
}

#block-footeraddress {
	color: rgba(255, 255, 255, 0.6);
}