// Override bootstrap framework variables.
// Full list of variables in [path to themes/contrib]/bootstrap4/dist/bootstrap/4.6.0/scss/_variables.scss
// or [path to themes/contrib]/bootstrap4/scss/_theme_variables.scss.

$border-radius:					0;
$border-radius-lg:				0;
$border-radius-sm:				0;

$breadcrumb-divider:			quote("»");
$breadcrumb-bg: 				#fff;
$gray-800:						#3c3537;

