// Custom sccs.

//Заголовок сторінки
.block-page-title-block {
	margin-bottom: 3rem;
	.path-frontpage & {
		padding-top: 3rem;
	}
}

//Лектор
.field--name-field-image-lecturer img {
	border-radius: 50%;
	padding: 2rem;
}

//Відступ списку
ol, ul, dl {
	@media (max-width: 768px){
		padding-left: 1rem;
	}
}

//Брендинг
.navbar-brand .site-title {
	font-size: 1.25rem !important;
	line-height: 1.25rem;
	& small {
		letter-spacing: 4.2px;
		text-transform: lowercase;
		font-weight: 400;
	}
}

.navbar-dark .navbar-brand img {
filter: none !important;
}

//Зображення (тимчасово)
.field--type-image img,
.view img {
	max-width: 100%;
	height: auto;
}
.image-style-wide {
	margin-bottom: 1.25rem;
	max-width: 100%;
	height: auto;
}

//Заголовки у тизерах
.views-view-grid h2 {
	font-size: 1.5rem;
}

//Слайдер
.slide-item {
	height: 25rem;
	padding-bottom: 200px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: brightness(0.5);
	@media (min-width: 768px) {
		padding-bottom: 400px;
	}
	@media (min-width: 992px) {
		padding-bottom: 500px;
	}
	@media (min-width: 1200px) {
		padding-bottom: 600px;
	}
}

.slide-1 {
	background-image: url("./../../../sites/default/files/field/image/slide/slide-1.jpg");
}
.slide-2 {
	background-image: url("./../../../sites/default/files/field/image/slide/slide-2.jpg");
}
.slide-3 {
	background-image: url("./../../../sites/default/files/field/image/slide/slide-3.jpg");
}
.slide-4 {
	background-image: url("./../../../sites/default/files/field/image/slide/slide-4.jpg");
}
.slide-5 {
	background-image: url("./../../../sites/default/files/field/image/slide/slide-5.jpg");
}

//Футер
@media (min-width: 768px) {
	.region.region-footer {
		flex-direction: row;
		justify-content: space-between;
	}
}

footer.footer-dark a {
	color: rgba(255, 255, 255, 0.6) !important;
	&:hover {
		color: #f8f9fa !important;
	}
}

#block-b5academy-footeraddress {
	color: rgba(255, 255, 255, 0.6);
	& .bi {
		font-size: 1.55rem;
	}
	& .social {
		padding-left: 0.5rem;
		margin-bottom: 4px;
	}
	& .social .list-inline-item {
		margin-right: 0.75rem;
	}
}

//Навбар
.navbar-dark .social {
	margin-bottom: 0;
	padding-left: 0.5rem;
	padding-bottom: 4px;
	padding-top: 6px;
	font-size: 20px;
	& a {
		color: rgba(255, 255, 255, 0.6);
	}
	& a:hover,
	& a:focus {
		color: rgba(255, 255, 255, 0.75);
	}
}

.region-nav-additional {
	display: flex;
	flex-basis: auto;
}

/*.navbar-nav {
	& .dropdown-toggle::after {
		display: none;
	}
	& .dropdown-menu {
		min-width: 12rem;
	}
}

ul.navbar-nav > li.dropdown:hover > ul.dropdown-menu {
	color: #f8f9fa;
		background-color: $dark;
	@media (min-width: 768px) {
		top: 30px;
		display: block;
		& li:first-child {
			padding-top: 1.25rem;
		}
	}
}
*/

//Посилання у тизерах (вимкнено)
.node-readmore {
	&::after {
		display: inline-block;
		font-family: bootstrap-icons !important;
		font-style: normal;
		font-weight: normal !important;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		vertical-align: -.125em;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		content: "\f134";
		padding-left: 0.25rem;
	}
}

//Курси на головній (вимкнено)
.view-courses {
	.card-img-overlay {
		background-color: rgb(0 0 0 / 60%);
		display: none;
		color: #fff;
	}
	& .h1,.h2,.h5 {
		margin-bottom: 0;
	}
	& .card:hover .card-img-overlay {
		display: block;
	}
}

//Заголовки
.display-4.page-title,
.carousel-caption .display-4 {
	font-weight: 500;
}
.display-4.page-title {
	text-transform: uppercase;
	color: #281500;
}
.block-title {
	color: #281500;
	border-bottom: solid 1px #ed7600;
	.path-frontpage & {
		text-transform: uppercase;
	}
}

//Заполнитель подложки на странице курса
.bg-filler {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	min-height: 15rem;
}
.filler-1 {
	background-image: url("./../../../sites/default/files/upload/filler-1.jpg");
}
.filler-2 {
	background-image: url("./../../../sites/default/files/upload/filler-2.jpg");
}
.filler-3 {
	background-image: url("./../../../sites/default/files/upload/filler-3.jpg");
}
.filler-4 {
	background-image: url("./../../../sites/default/files/upload/filler-4.jpg");
}
.filler-5 {
	background-image: url("./../../../sites/default/files/upload/filler-5.jpg");
}
.filler-6 {
	background-image: url("./../../../sites/default/files/upload/filler-6.jpg");
}
.filler-7 {
	background-image: url("./../../../sites/default/files/upload/filler-7.jpg");
}
.filler-8 {
	background-image: url("./../../../sites/default/files/upload/filler-8.jpg");
}
.filler-9 {
	background-image: url("./../../../sites/default/files/upload/filler-9.jpg");
}
.filler-10 {
	background-image: url("./../../../sites/default/files/upload/filler-10.jpg");
}
.filler-11 {
	background-image: url("./../../../sites/default/files/upload/filler-11.jpg");
}
.filler-12 {
	background-image: url("./../../../sites/default/files/upload/filler-12.jpg");
}
.filler-13 {
	background-image: url("./../../../sites/default/files/upload/filler-13.jpg");
}
.filler-14 {
	background-image: url("./../../../sites/default/files/upload/filler-14.jpg");
}
.filler-15 {
	background-image: url("./../../../sites/default/files/upload/filler-15.jpg");
}
.filler-16 {
	background-image: url("./../../../sites/default/files/upload/filler-16.jpg");
}
.filler-17 {
	background-image: url("./../../../sites/default/files/upload/filler-17.jpg");
}
.filler-18 {
	background-image: url("./../../../sites/default/files/upload/filler-18.jpg");
}

//Параграф feedback
.paragraph--type--feedback {
	display: flex;
	flex-direction: column;
	margin-bottom: 3rem;
	position: relative;
	@media (min-width: 768px) {
		flex-direction: row;
	}
	& .field--name-field-body {
		@media (min-width: 768px) {
		width: 50%;
		}
	}
	& .field--name-field-webform {
		background-color: #ebe4c1;
		@media (min-width: 768px) {
			width: 50%;
		}
	}
	& .webform-submission-consultation-form {
		padding: 2rem;
		z-index: 1;
		position: relative;
		@media (min-width: 768px) {
			padding-right: 4rem;
		}
		@media (min-width: 992px) {
			padding: 3rem;
			padding-right: 5rem;
		}
	}
	& .border {
		position: absolute;
		left: 1rem;
		top: 1rem;
		bottom: 1rem;
		right: 1rem;
		@media (min-width: 768px) {
			left: 2rem;
			top: 2rem;
			bottom: 2rem;
			right: 2rem;
		}
	}
}

.view-id-mods.view-display-id-block_4 .card .bi,
.view-id-mods.view-display-id-block_2 .card .bi {
	font-size: 3rem;
}

.filler-bottom {
	background-image: url("./../../../sites/default/files/upload/filler-bottom.jpg");
	.row {
		@media (min-width: 768px) {
			height: 300px;
			position: relative;
			bottom: 3rem;
		}
	}
	.bi {
		font-size: 3rem;
	}
	a {
		color: #FFF;
	}
	a:hover,
	a:focus {
		color: rgba(255, 255, 255, 0.75);
	}
}

.g-recaptcha {
@media (max-width: 333px) {
    transform: scale(0.95);
    transform-origin: 0 0;
	}
}
.region.region-footer-top {
	padding-top: 3rem;
}

//Responsive-menu

.search-block-form {
	padding-bottom: 2rem;
}

body.user-logged-in.toolbar-fixed.mm-wrapper_opening,
body.user-logged-in.toolbar-fixed.mm-wrapper_opened {
	padding-top: 0!important;
}

/*.responsive-menu-block-wrapper {
display: block;
}

.mm-page,
.mm-wrapper_background body {
	background-color: #ffffff;
}*/

.mm-wrapper_opening .toolbar-tray-open.toolbar-fixed.toolbar-vertical,
.mm-opened .toolbar-tray-open.toolbar-fixed.toolbar-vertical {
	margin-left: 0;
}

.mm-wrapper_opening .toolbar-tray-open.toolbar-fixed.toolbar-vertical .mm-page,
.mm-opened .toolbar-tray-open.toolbar-fixed.toolbar-vertical .mm-page {
	padding-left: 240px;
	padding-left: 15rem;
}

.horizontal-menu {
	--bs-nav-link-padding-x: 0;
	--bs-nav-link-padding-y: 0.5rem;
	--bs-nav-link-font-weight: 400;
	--bs-nav-link-color: var(--bs-navbar-color);
	--bs-nav-link-hover-color: var(--bs-navbar-hover-color);
	--bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
	display: none;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	@include media-breakpoint-up(md) {
		display: flex;
	}
}

.horizontal-menu > li {
	display: inline-block;
	position: relative;
	padding-top: 0;
}

.horizontal-menu > li ul ul {
	left: 10em;
	top: 0;
}

.horizontal-menu ul .fly-left ul {
	left: -10em;
}

.horizontal-menu > li > a {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	display: block;
	padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
	font-size: var(--bs-nav-link-font-size);
	font-weight: var(--bs-nav-link-font-weight);
	color: var(--bs-nav-link-color);
	text-decoration: none;
	background: none;
	border: 0;
	@include media-breakpoint-up(md) {
		padding-right: var(--bs-navbar-nav-link-padding-x);
		padding-left: var(--bs-navbar-nav-link-padding-x);
	}
	&:hover {
		color: var(--bs-nav-link-hover-color);
	}
	&.is-active {
		color: var(--bs-navbar-active-color);
	}
}

.horizontal-menu > li ul {
	--bs-dropdown-zindex: 1000;
	--bs-dropdown-min-width: 10rem;
	--bs-dropdown-padding-x: 0;
	--bs-dropdown-padding-y: 0.5rem;
	--bs-dropdown-spacer: 0.125rem;
	--bs-dropdown-font-size: 1rem;
	--bs-dropdown-color: var(--bs-body-color);
	--bs-dropdown-bg: var(--bs-body-bg);
	--bs-dropdown-border-color: var(--bs-border-color-translucent);
	--bs-dropdown-border-radius: var(--bs-border-radius);
	--bs-dropdown-border-width: var(--bs-border-width);
	--bs-dropdown-inner-border-radius: calc(var(--bs-border-radius) - var(--bs-border-width));
	--bs-dropdown-divider-bg: var(--bs-border-color-translucent);
	--bs-dropdown-divider-margin-y: 0.5rem;
	--bs-dropdown-box-shadow: var(--bs-box-shadow);
	--bs-dropdown-link-color: var(--bs-body-color);
	--bs-dropdown-link-hover-color: var(--bs-body-color);
	--bs-dropdown-link-hover-bg: var(--bs-tertiary-bg);
	--bs-dropdown-link-active-color: #fff;
	--bs-dropdown-link-active-bg: var(--bs-secondary);
	--bs-dropdown-link-disabled-color: var(--bs-tertiary-color);
	--bs-dropdown-item-padding-x: 1rem;
	--bs-dropdown-item-padding-y: 0.25rem;
	--bs-dropdown-header-color: #6c757d;
	--bs-dropdown-header-padding-x: 1rem;
	--bs-dropdown-header-padding-y: 0.5rem;
	position: absolute;
	z-index: var(--bs-dropdown-zindex);
	display: none;
	min-width: var(--bs-dropdown-min-width);
	padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
	margin: 0;
	font-size: var(--bs-dropdown-font-size);
	color: var(--bs-dropdown-color);
	text-align: left;
	list-style: none;
	background-color: var(--bs-dropdown-bg);
	background-clip: padding-box;
	border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
}

.horizontal-menu li.sfHover > ul,
.horizontal-menu li:hover > ul {
	display: block;
}

.horizontal-menu li li {
	position: relative;
	float: left;
	width: 100%;
}

.horizontal-menu > li > li:hover > ul,
.horizontal-menu > li > li.sfHover > ul {
	display: block;
}

.horizontal-menu > li li > a {
	display: block;
	width: 100%;
	padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
	clear: both;
	font-weight: 400;
	color: var(--bs-dropdown-link-color);
	text-align: inherit;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
	@include media-breakpoint-up(md) {
		padding-right: var(--bs-navbar-nav-link-padding-x);
		padding-left: var(--bs-navbar-nav-link-padding-x);
	}
	&:hover {
		color: var(--bs-dropdown-link-hover-color);
		background-color: var(--bs-dropdown-link-hover-bg);
	}
	&.is-active {
		color: var(--bs-dropdown-link-active-color);
		text-decoration: none;
		background-color: var(--bs-dropdown-link-active-bg);
	}
}

.menu-item--expanded.menu-item--active-trail a.sf-with-ul {
	color: var(--bs-dropdown-link-active-color);
}
/* Added */
.menu-item.menu-item--expanded {
    list-style-type: none;
    list-style-image: none;
}

/*.off-canvas-wrapper {
	display: block;
}

.no-js .off-canvas-wrapper {
	display: none;
}

.responsive-menu-toggle {
	display: inline-block;
}*/

.responsive-menu-toggle-icon {
	box-sizing: border-box;
	display: block;
	width: 42px;
	height: 48px;
	z-index: 4;
	margin-top: 0;
	position: relative;
	@include media-breakpoint-up(lg) {
		display: none;
	}
}

/*.no-js .responsive-menu-toggle-icon {
	display: none;
}*/

.responsive-menu-toggle-icon:before,
.responsive-menu-toggle-icon:after,
.responsive-menu-toggle-icon span.icon {
	background: var(--bs-navbar-color);
	content: '';
	display: block;
	width: 20px;
	height: 3px;
	position: absolute;
	top: 0;
	left: 13px;
	border-radius: 2px;
}

.responsive-menu-toggle-icon:before {
	top: 18px;
}

.responsive-menu-toggle-icon span.icon {
	top: 24px;
}

.responsive-menu-toggle-icon:after {
	top: 30px;
}

.responsive-menu-toggle-icon:before,
.responsive-menu-toggle-icon:after,
.responsive-menu-toggle-icon span.icon {
	transition: none 0.4s ease-out 0.1s;
	transition-property: -webkit-transform, top, bottom, left, opacity;
	transition-property: transform, top, bottom, left, opacity;
}

.mm-wrapper_opening .responsive-menu-toggle-icon:before,
.mm-wrapper_opening .responsive-menu-toggle-icon:after {
	top: 24px;
}

.mm-wrapper_opening .responsive-menu-toggle-icon span.icon {
	left: -25px;
	opacity: 0;
}

.mm-wrapper_opening .responsive-menu-toggle-icon:before {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.mm-wrapper_opening .responsive-menu-toggle-icon:after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/*#mm-blocker {
	background: rgba(0, 0, 0, 0);
}
.mm-wrapper_opening #mm-blocker {
	background: rgba(0, 0, 0, 0.2);
	transition: background 1s ease 0.3s;
}
.mm-wrapper_opening #page {
	border-left: 1px solid #ccc;
}

.mm-panel a {
	border-bottom: none;
}*/

ul.menu.mm-listview a.is-active {
	color: inherit;
}

.mm-panel a:hover {
	border: none;
}

ul.menu.mm-listview {
	padding-left: 0;
	margin-left: 0;
}